<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <title>Announcements</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg col-md-3 col-sm-2"></div>

        <div class="col-lg col-md-6 col-sm-8">
          <div class="row announcement-header">
              <h5>Announcement</h5>
              <a href="/search?context=annoucement"><i class="fas fa-search mr-3"></i></a>
          </div>

          <div class="row announcement-container">
            <div class="announcements">
              <div class="announcement p-3">
                <p class="meta mb-1"> Username <span class="ml-3">2020 Nov 1, 10:30am </span></p> 
                <p class="collapse" id="collapseExample" aria-expanded="false"> This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement This is a new Announcement</p>
                <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
              </div>
            </div>
          </div>

          <!-- Create new Announcement modal -->
          <div class="modal fade border-info" id="announceModal" tabindex="-1" aria-labelledby="announceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content modal-lg">
                <div class="modal-header">
                  <div class="container-fluid">
                    <div class="row text-left text-info">
                      <h6 class="mb-2">New Announcement</h6>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="alert" id="announceAlert" role="alert" hidden></div>
                  <div class="container-fluid">
                    <div class="row text-left text-info">
                      <textarea class="create-announcement-text" placeholder="New Announcement"></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                  </button>
                  <button type="button" class="btn btn-info" id="confirmBtn">
                    Post
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- add new announcement -->
          <div id="create-announcement" class="create-announcement-button"><h6>+</h6></div>

          <!-- navigation bar -->
          <nav class="navbar fixed-bottom custom-nav px-5">
            <a class="navbar-brand" href="/main"><i class="fas fa-home"></i></a>
            <a class="navbar-brand" href="/announcement" style="color: #17a2b8;"><i class="far fa-bell"></i></a>
            <a class="navbar-brand" href="/profile"><i class="far fa-user"></i></a>
          </nav>

        </div>

        <div class="col-lg col-md-3 col-sm-2"></div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script type="module" src="/js/announcement.js"></script>
</html>