<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href='../css/style.css'/>
		<title>FSE Chatroom</title>
	</head>
	<body>
		<div class="login-container">
			<header class="login-header">
				<h1>Chatroom Login</h1>
			</header>

			<main class="login-main">
				<form action="/" method="POST">
				<form>	
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username"
							required
						/>
					</div>
					<div class="form-control">
						<label for="password">Password</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Enter password"
							required
						/>
					</div>
					<button type="submit" class="btn">LOGIN</button>
				</form>

				<form action="/register" method="POST">
                    <form>	
                        <div class="form-control">
                            <label for="username">Username</label>
                            <input
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Enter username"
                                required
                            />
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Enter password"
                                required
                            />
                        </div>
                        <button type="submit" class="btn">Register</button>
                    </form>
			</main>
		</div>

		<div class="login-container">
			<header class="welcome-header">
				<!-- Add user name here -->
				<h1>Welcome Message</h1>
				<button type="submit" class="btn">X</button>
			</header>
			<main class="login-main">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="checkbox">
					<input type="checkbox" name="welcome-check" value="check">
					<p>By checking this button, I agree to share my status with ESN Chatroom</p>
				</div>
				<button type="button" class="btn">Next</button>
			</main>
		</div>
	</body>
</html>