<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Main page</title>
  </head>
  <body>
    <a href="/api/logout" id = "logoutBtn" class="btn btn-primary">Log out</a>
    <div id = "messages" class="card-block">

    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script>
    const socket = io.connect('http://127.0.0.1:5000')
    const messages = document.getElementById('messages')
    socket.on('users', (data) =>{
      if(data.length){
                        data.forEach(element => {
                            let message = document.createElement('div')
                            message.innerText = element.username+ "  "+"  online status: " + element.online
                            messages.appendChild(message)
                        });
                        
                    }    
    });
  </script>
</html>
