<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <title>Map</title>
    <style>
        #map {
          height: 100%;
          width: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg col-md-3 col-sm-2"></div>

        <div class="col-lg col-md-6 col-sm-8 esn-screen">
          <div class="row announcement-header">
              <h5>Geolocation</h5>
          </div>

          <div id="map"></div>
          <div class="toast toast-custom mt-2" role="alert" aria-live="polite" aria-atomic="true" data-animation = "true" data-autohide = "true" data-delay = "4000">
            <div role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header p-2">
                <i class="fas fa-bell mr-2" style="color: #07869a;"></i>
                <strong class="mr-auto">Geolocation Updated</strong>
                <small>a second ago</small>
              </div>
              <div class="toast-body"></div>
            </div>
          </div>
  <div class="modal fade border-info" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert" id="confirmAlert" role="alert" hidden></div>
          <div class="container-fluid">
            <div class="row text-left text-info">
              <p>Do you want to update your current location?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button type="button" class="btn btn-info" id="updateMapBtn">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>


          <!-- navigation bar -->
          <div class="row">
            <nav class="navbar custom-nav px-5">
              <a class="navbar-brand" href="/main"><i class="fas fa-home"></i></a>
              <a class="navbar-brand" href="/announcement"><i class="far fa-bell"></i></a>
              <a class="navbar-brand" href="/map" style="color: #17a2b8;"><i class="fas fa-map"></i></a>
              <a class="navbar-brand" href="/resources"><i class="fas fa-hands-helping"></i ></a>
              <a class="navbar-brand" href="/news"><i class="fas fa-bolt"></i></a>
              <a class="navbar-brand" href="/profile"><i class="far fa-user"></i></a>
            </nav>
          </div>
          

          <!-- use only for passing the username -->
          <input
            id="username-data"
            value="<%= username %>"
            style="display: none"
          />

        </div>

        <div class="col-lg col-md-3 col-sm-2"></div>
      </div>
    </div>
  </body>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlrK6PslcKwo-OmZaOz6mItolqaxxc-pU&callback=initMap">
</script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="/js/map.js"></script>
</html>