@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* color palette */
/* 
    background -> #f3fdff 
    button -> #17a2b8 
    shadow -> #a7bdc1
    header -> #18a2b8
    line-break -> #71bcc7
*/

/* global style */

body {
  background-color: #c9e6ec;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

h5 {
  /* use for page header */
  font-weight: 400;
}

a {
  color: #17a2b8;
}

a:active {
  color: #17a2b8;
}

a:hover {
  color: #07869a;
  cursor: pointer;
}

.searchbar {
  display: block;
}

.searchbar input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ebf7fa;
  border-style: solid;
  border-width: 1px;
  border-color: #17a2b8;
  box-shadow: 3px 3px 5px 0px #06869a4d;
  color: #17a2b8;
}

.searchbar input:hover {
  cursor: pointer;
  background-color: #d0e6e9;
}

.searchbar :-ms-input-placeholder {
  color: #1b5058;
}

.empty-block {
  height: 30vh;
}

.esn-screen {
  height: 92vh;
  background-color: #edf5f7;
}

/* nav bar */
.custom-nav {
  background-color: #deeef1;
  border-top-color: #2aa9bd;
  border-top-style: solid;
  border-top-width: 1px;
  height: 8vh;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 92vh;
}

.custom-nav a {
  color: #a7d8e0;
}

/* login page */

.login-container {
  padding-top: 35vh;
}

.login-container h3 {
  color: #17a2b8;
}

.login-container input {
  border-color: #17a2b8;
}

.login-input-icon {
  background-color: #dff2f5;
  color: #17a2b8;
}

.login-header {
  margin-bottom: 7%;
}

.login-modal-table {
  border-bottom-style: solid;
  border-bottom-color: #17a2b8;
}

.login-modal-row {
  margin-top: 10px;
}

/* ESN Directory page */

.directory-container h4 {
  color: White;
}

.directory-container h5 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.directory-container h6 {
  color: #17a2b8;
}

.directory-header {
  background-color: #07869a;
  height: 8vh;
  align-items: center;
}

.directory-main {
  height: 84vh;
  overflow: scroll;
}

.directory-category {
  margin-top: 1.5rem;
}

.online-offline-list {
  overflow: scroll;
  height: 62vh;
  border-radius: 0.5rem;
}

.online-item:hover {
  color: cadetblue;
  cursor: pointer;
}

.online-list-item {
  color: #17a2b8;
}

.online-list-item:hover {
  color: #07869a;
}

.offline-list-item {
  color: #a7bdc1;
}

.offline-list-item:hover {
  color: #95a9ac;
  cursor: pointer;
}

.direct-msg {
  display: flex;
  justify-content: space-between;
}

.direct-msg span {
  align-self: center;
}

.dropdown-container {
  background: #18a2b84f;
  border: none;
}

.status-btn {
  color: #1b5058;
}

/* chat page */
.chat-header {
  height: 8vh;
  position: sticky;
  background-color: #b4e3ea;
  box-shadow: 0px 7px 20px 0px #73aab33d;
  align-items: center;
}

.chat-header h5 {
  margin-top: 8px;
  color: #07869a;
}

.chat-header a {
  color: #07869a;
}

.chat-header a:hover {
  color: #07869a;
  text-decoration: none;
}

.chat-header-content {
  display: flex;
  justify-content: space-between;
}

.chat-container {
  height: 80vh;
  overflow-y: scroll;
  background-color: white;
}

.chat-messages {
  width: 100%;
}

.chat-footer {
  height: 12vh;
  background-color: #deeef1;
  border-top-color: #2aa9bd;
  border-top-style: solid;
  border-top-width: 1px;
}

.message p {
  margin-bottom: 0.8rem;
}

.message .meta {
  font-weight: bold;
  color: #07869a;
}

.message p span {
  font-weight: 400;
  color: rgb(187 210 214);
  font-size: 0.8rem;
}

.toast-custom {
  font-family: 'IBM Plex Sans', sans-serif;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: -1;
  width: 100%;
  color: #07869a;
}

/* Announcement */
.announcement-header {
  height: 8vh;
  position: sticky;
  background-color: #07869a;
  color: #ffffff;
  box-shadow: 0px 8px 20px 0px #6ea4ad21;
  align-items: center;
}

.announcement-header h5 {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.announcement-header a {
  color: #d2edf1;
}

.announcements {
  width: 100%;
  height: 84vh;
  overflow-y: scroll;
  background-color: #ecf5f7;
}

.announcement {
  background-color: #ffffff;
  border-bottom: #d7d7d7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.announcement .meta {
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #07869a;
}

.announcement p span {
  font-weight: 400;
  color: rgb(187 210 214);
  font-size: 0.8rem;
  float: right;
}

.announcement .collapse:not(.show)[aria-expanded='false'] {
  color: #343434;
  display: block;
  height: 9vh;
  overflow: hidden;
}

.announcement .collapsing[aria-expanded='false'] {
  height: 9vh;
}

.announcement a.collapsed:after {
  content: '+ Show More';
}

.announcement a:not(.collapsed):after {
  content: '- Show Less';
}

.create-announcement-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #07869a;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 1031;
  box-shadow: 2px 2px 5px 1px #05525f40;
  cursor: pointer;
}

.create-announcement-button h6 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0.25rem;
}

.create-announcement-text {
  height: 50vh;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-color: #17a2b8;
  padding: 1rem;
  background-color: #f5fafb;
}

/*search page*/
.search-form {
  width: 100%;
  display: flex;
}

.search-header h5 {
  background-color: #07869a;
  height: 8vh;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.more-btn {
  height: 2rem;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: auto;
  color: #1ea2b8;
}

/* Profile Page */
.profile-body {
  height: 84vh;
}

/* bootstrap style override */
.list-group-item {
  border-width: 0px;
}

/* toast */
.toast-header small {
  color: rgb(187 210 214);
}

.mr-auto {
  color: #07869a;
}
