@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');



body {
    background-color: #f3fdff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.login-container {
    margin-top: 35vh;
}

.login-container h3{
    color: #17a2b8;
}

.login-container input {
    border-color: #17a2b8;
}

.login-input-icon{
    background-color: #dff2f5;
    color: #17a2b8;
}

.login-header {
    margin-bottom: 7%;
}

.login-modal-table {
    border-bottom-style: solid;
    border-bottom-color: #17a2b8;
}

.login-modal-row {
    margin-top: 10px;
}